body,html{
  width:100%;height:100%;padding:0;margin:0;
}
#__nuxt,#__layout{
  width:100%;height:100%;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}